<div class="container">
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <form [formGroup]="SignUpForm" (ngSubmit)="onSignIn()">
        <div class="form-group">
          <label for="username"><h6>User Name*</h6></label>
          <input type="text" 
          id="username" 
          formControlName="username"   
          class="form-control">
          <ng-container *ngIf="SignUpForm.controls['username'].touched && SignUpForm.controls['username'].invalid">
            <p class="alert alert-warning"
            *ngIf="SignUpForm.controls['username'].hasError('required')">
              UserName is Mandatory field
            </p>
          </ng-container >
      
          <!------- For Form-dirty & Invalid -------->
          
        <ng-container *ngIf="SignUpForm.controls['username'].dirty && SignUpForm.controls['username'].invalid">

        <p class="alert alert-danger" *ngIf="SignUpForm.controls['username'].hasError('NospaceBar')">
          {{SignUpForm.controls['username'].errors?.['NospaceBar']}}
        </p>
            <p class="alert alert-warning"
            *ngIf="SignUpForm.controls['username'].hasError('minlength')">
               Minimum Characters length should be {{SignUpForm.controls['username'].errors?.['minlength'].requiredLength}} and actual length is {{SignUpForm.controls['username'].errors?.['minlength'].actualLength}}
            </p>
            <p class="alert alert-warning"
            *ngIf="SignUpForm.controls['username'].hasError('maxlength')">
               Maximum Characters length should {{SignUpForm.controls['username'].errors?.['maxlength'].requiredLength}} and Actual length is {{SignUpForm.controls['username'].errors?.['maxlength'].actualLength}}
            </p>
          </ng-container>
       </div>
       <div class="form-group">
        <label for="email"><h6>Email*</h6></label>
        <input type="text" id="email" formControlName="email" class="form-control">
     </div>
     <div class="form-group">
      <label for="empId"><h6>Employ Id*</h6></label>
      <input type="text" 
      id="empId" 
      formControlName="empId" 
      class="form-control"
      placeholder="E123"
      required>
      <ng-container *ngIf="f['empId'].touched && f['empId'].invalid">
        <p class="alert alert-danger" *ngIf="f['empId'].hasError('required')">
            Emp is mandetory Field...!!
        </p>
      </ng-container>
      <ng-container *ngIf="f['empId'].touched && f['empId'].invalid">
        <p class="alert alert-danger" *ngIf="f['empId'].hasError('inValidEmpId')">
            {{f['empId'].errors?.['inValidEmpId']}}
        </p>
      </ng-container>
   </div>
        <div class="form-group">
          <ng-container *ngFor="let gender of gendersArray">
            <label [for]="gender" class="ml-2">
          <input type="radio" [value]="gender" [id]="gender" formControlName="gender">{{gender}}  
            </label>
          </ng-container>
        </div>
    <div formArrayName="skills">
      <h5>skills{{getskillControl.length}}</h5>
      <div class="row" *ngFor="let skill of getskillControl.controls; let i = index">
      <div class="col-10">
       <div class="form-group">
        <input type="text" 
        class="form-control"
        [formControlName]="i">
       </div>
      </div>
      <div class="col-2" *ngIf="i > 0">
        <button class="btn btn-danger" type="button"
        (click)="Removeskill(i)"
        >X</button>
      </div>
      </div>
      <div class="row">
        <div class="col-12">
          <button class="btn btn-primary"
          (click)="onAddSkill()"
          type="button"
          [disabled]="getskillControl.length >= 5"
          >Add Skills</button>
          <span *ngIf="getskillControl.length >= 5" class="text-danger">you can Add max 5 skills</span>
        </div>
      </div>
    </div>
      <div class="row">
        <div class="col-6">
          <h5>Permanent Address</h5>
        <div formGroupName="PermenantAdresss">
          <select 
          formControlName="countryName"
          class="form-control">
            <option value="">Select Country</option>
            <option *ngFor="let country of CountrysArray" 
            [value]="country.countryName">
            {{country.countryName}} </option>
          </select>
        </div>
        <div class="form-group">
          <label for="currencyCode">Currency Code</label>
          <select 
          formControlName="currencyCode"
          class="form-control">
          <option value="">Select Country Currency</option>
          <option *ngFor="let country of CountrysArray"
          [value]="country.currencyCode">
        {{country.currencyCode}}</option>
           </select>
        </div>
        <div class="form-group">
          <label for="countryCode">Country Code</label>
          <select 
          formControlName="countryCode"
          class="form-control">
        <option value="">Select Country Code</option>
        <option *ngFor="let country of CountrysArray"
        [value]="country.countryCode">
        {{country.countryCode}}
        </option>
        </select>
        </div>
        <div class="form-group">
          <label for="population">Population</label>
          <input type="text" id="population" formControlName="population"
           class="form-control">
        </div>
        <div class="form-group">
          <label for="capital">Capital</label>
          <input type="text" id="capital" formControlName="capital"
          class="form-control">
        </div>
        <div class="form-group">
          <label for="continentName">ContinentName</label>
          <input type="text" id="continentName"  formControlName="continentName"
          class="form-control">
        </div>
      </div>
    <!-- ---------------- Current Address--------------- -->
    <div class="col-6">
      <h5>Permanent Address
      </h5>
    <div formGroupName="CurrentAdresss">
      <select 
      formControlName="countryName"
      class="form-control">
        <option value="">Select Country</option>
        <option *ngFor="let country of CountrysArray" 
        [value]="country.countryName">
        {{country.countryName}} </option>
      </select>
    </div>
      <div class="form-group">
        <label for="currencyCode">Currency Code</label>
        <select 
        formControlName="currencyCode"
        class="form-control">
        <option value="">Select Country Currency</option>
        <option *ngFor="let country of CountrysArray"
        [value]="country.currencyCode">
      {{country.currencyCode}}</option>
         </select>
      </div>
      <div class="form-group">
        <label for="countryCode">Country Code</label>
        <select 
        formControlName="countryCode"
        class="form-control">
      <option value="">Select Country Code</option>
      <option *ngFor="let country of CountrysArray"
      [value]="country.countryCode">
      {{country.countryCode}}
      </option>
      </select>
      </div>
      <div class="form-group">
        <label for="population">Population</label>
        <input type="text" id="population" 
        formControlName="population"
        class="form-control">
      </div>
      <div class="form-group">
        <label for="capital">Capital</label>
        <input type="text" 
        id="capital" 
        formControlName="capital"
        class="form-control">
      </div>
      <div class="form-group">
        <label for="continentName">ContinentName</label>
        <input type="text" 
        id="continentName" 
        formControlName="continentName"
        class="form-control">
      </div>
    </div>
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input type="text" id="password" formControlName="password" class="form-control">
        </div>
        <div class="form-group">
          <label for="confirmpassword">Confirm Password</label>
          <input type="text" id="confirmpassword" class="form-control" formControlName="confirmpassword" >
        </div>
        <div class="text-right">
          <button class="btn btn-outline-info" type="submit">Log In</button>
        </div>
      </form>
    </div>
  </div>
</div>